@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.bgcustom {
  background-image: url("https://media.bizj.us/view/img/12262839/googles-new-campussvbj05162022050*xx3600-2025-0-188.jpg");
}

.bgcolor {
  height: 150px;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 100%
  );
}

